---
import '../styles/components/sidebar.css';
import ModelTypeSelector from './ModelTypeSelector.astro';
import ModelGallery from './ModelGallery.astro';
import ClothingCategory from './ClothingCategory.astro';
import ClothesSelector from './ClothesSelector.astro';
import ProcessButton from './ProcessButton.astro';
---

<aside class="sidebar">
  <div class="sidebar-content">
    <ModelTypeSelector />
    <ModelGallery />
    <ClothingCategory />
    <ClothesSelector />
    <ProcessButton />
  </div>
</aside>